* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
body {
  font-family: "Plus Jakarta Sans";
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #00050f;
}

/* navigation */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  gap: 40px;
}
#nav-wrap a:hover {
  cursor: pointer;
  font-weight: bold;
  transition: all .5s;
  letter-spacing: 2px;
  font-optical-sizing: auto;
  color: white !important;
  border-radius: 100px;
  gap: 40px;
}
#nav-wrap {
  font: 12px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

ul#nav.nav{
  background-color: #00050f;
  display: flex;
  align-items: center;
}

/* home */
header#home, main{
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 60px;
  margin: 0 200px;
}
main{
  flex-direction: column;
}
h1{
  display: flex;
  color: white;
}
div.row.banner{
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 30px;
  color: black;
  padding: 10px;
}
#job{
  color: gray;
}
.me{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 650px;
  border: 0px solid;
  border-radius: 100px;
}
.columns-download>p{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
a.button{
  display: flex;
  font-size: 20px;
  color: black !important;
  padding: 10px;
  border: 1px solid #fafafa;
  border-radius: 100px;
  background: white;
  justify-content: center;
  text-decoration: none !important;
}

a.button:hover{
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 2px;
  transition: all .5s;
  background-color: hsl(235, 57%, 12%);
  font-optical-sizing: auto;
  color: white !important;
}

/* home - right side icons */
ul.social{
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  padding: 0;
  text-align: center;
  justify-content: center;
  font-size: 25px;
}
.header-links{
  display: flex;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  border: 1px solid white;
  border-radius: 100px;
  color: white;
  background-color: white;
  justify-content: center;
}
.fa {
  padding: 20px;
  width: 50px;
  height: 11px;
  color:  black !important;
  text-decoration: none !important;
  margin: 10px 10px;
  border-radius: 100px;
}
.fa:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: all .5s;
  background-color: hsla(222, 59%, 61%, 0.915);
  color: white !important;
}
.fa-facebook,.fa-github, .fa-linkedin{
background: #ffffff;
padding-top: 10px;
}

/* about me */
section#about_me{
  display: flex;
  flex: 1;
  justify-content:space-evenly;
}
h2{
  border-bottom: 2px solid;
  margin: 30px 0 10px 0;
}
h3{
  text-align: center;
  margin: 40px 0;
  color: gray;
  font-size:xx-large;
}
.technology {
  margin: 30px 0 10px 0;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.technology img {
  max-width: 100%;
  height: auto;
}
.laptop {
  position: absolute;
  display: flex;
  flex: auto;
  z-index: -1;
  right: 10em;
  top: 45em;
}
@media (max-width: 1500px) {
  .technology {
    flex-direction: column; /* Change the flex direction to stack items vertically */
    align-items: center; /* Center items horizontally when stacked */
    gap: 60px;
  }
}