* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;

}
body {
  font-family: "Plus Jakarta Sans";
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #00050f;
  transition: all .5s;
  word-spacing: 3px;
  font-size: 20px;
  overflow-x: hidden; 
}
/* navigation */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  gap: 40px;
}
#nav-wrap a {
  font-weight: normal;
  transition: all .5s;
}
#nav-wrap a:hover {
  cursor: pointer;
  font-weight: bold;
  transition: all .5s;
  letter-spacing: 2px;
  font-optical-sizing: auto;
  color: white !important;
  border-radius: 100px;
}
#nav-wrap {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  transition: top 0.8s ease;
}
ul#nav.nav{
  background-color: #0D102F;
}

/* home */
header#home, main{
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-top: 100px;
  margin: 0 200px;
}
main{
  flex-direction: column;
}
h1{
  display: flex;
  color: white;
}
div.row.banner{
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 30px;
  color: black;
  padding: 10px;
}
#job{
  color: gray;
}
.me{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto; 
  max-width: 850px;
  border: 0px solid;
  border-radius: 100px;
}
.columns-download>p{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.columns-text-col{
  padding-top: 100px;
}
a.button{
  display: flex;
  font-size: 20px;
  color: black !important;
  padding: 10px;
  border: 1px solid #fafafa;
  border-radius: 100px;
  background: white;
  justify-content: center;
  text-decoration: none !important;
}

a.button:hover{
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 2px;
  transition: all .5s;
  background-color: hsl(235, 57%, 12%);
  font-optical-sizing: auto;
  color: white !important;
}

/* home - right side icons */
ul.social{
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  padding: 0;
  text-align: center;
  justify-content: center;
  font-size: 25px;
}
.header-links{
  display: flex;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  border: 1px solid white;
  border-radius: 100px;
  color: white;
  background-color: white;
  justify-content: center;
}
.fa {
  padding: 20px;
  width: 50px;
  height: 11px;
  color:  black !important;
  text-decoration: none !important;
  margin: 10px;
  border-radius: 100px;
}

.fa-instagram,.fa-github, .fa-linkedin{
background: #ffffff;
padding-top: 10px;
}

.fa-instagram:hover {
  cursor: pointer;
  color: white !important;
  transition: all .5s;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.fa-github:hover {
  cursor: pointer;
  transition: all .5s;
  background-color: hsla(220, 7%, 24%, 0.915);
  color: white !important;
}
.fa-linkedin:hover {
  cursor: pointer;
  transition: all .5s;
  background-color: hsla(201, 98%, 35%, 0.915);
  color: white !important;
}

/* about me */
#about_me{
  display: flex;
  flex: 0;
  justify-content: space-between;
}
h2{
  border-bottom: 2px solid;
  margin: 30px 0 10px 0;
}
h3{
  text-align: center;
  margin: 40px 0;
  color: gray;
  font-size:xx-large;
}
.technology {
  margin: 30px 0 10px 0;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.technology img {
  max-width: 100%;
  height: auto;
}
.laptop {
  position: absolute;
  display: flex;
  flex: auto;
  z-index: -1;
  right: 10em;
  top: 30em;
}

/* work-experience & education */

.three-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
  margin: 30px 0;
}

.three-columns-border{
  display: flex;
  justify-content: space-between;
border-bottom: 1px solid;
margin: auto;
border-color: grey;
margin: 20px 0;
padding-bottom: 20px;
}
.years{
display: flex;
width: 243px;
height: auto;
flex-shrink: 0;
}
.experience{
  display: flex;
  flex-direction: column;
  width: 600px;
  flex-shrink: 0;
}
.details{
  display: flex;
  width: 5000px;
  height: auto;
}
.company{
  display: inline;
  color: #6184D6;
}

/* form  */

.styled-input.wide { 
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  background-color: #2d2d2d;
  color: white;
  border-radius: 1px;
}

#contactMessage {
  width: 100%;
  height: 200px;
}

.input {
  width: 650px;
  max-width: 100%;
  margin: 0 200px;

}

.submit{
  display: inline-block;
  float: center;
  color: white;
  font-size: 25px;
  color: black !important;
  padding: 15px;
  margin: 15px 0;
  border: 1px solid #fafafa;
  border-radius: 100px;
  background: white;
}
button.submit:hover{
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 2px;
  transition: all .5s;
  background-color: hsl(235, 57%, 12%);
  color: white !important;
}

/* footer */

footer{
  width: 100%;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;
  padding: 10px 0;
  bottom: 0;
  display: flex;
  transition: top 0.8s ease;
  align-items: center;
  justify-content: center;
  background-color: #0D102F;
}
.copyright{
  list-style-type: none;
}



/* responsive design */

@media (max-width: 1500px) {
  .technology, body{
    flex-direction: column;
    align-items: center; 
    gap: 60px;
  }
  .three-columns {
    flex-direction: column;
  }
  .columns-text-co{
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}